@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}
body{
    background-color: lemonchiffon;
}
header{
    display: flex;
    justify-content: space-around ;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    max-height: 25vh;
    background-color: white;
    position: sticky;
    top: 0;
}
.logo{
    width: 14vh;
    height: 12vh;
    display: inline-block;
}
a{
    padding: 0 5px;
    text-decoration: none;
    color: black;
}
a:hover{
    font-weight: bold;
    color: cadetblue;
}
footer{
    display: inline-block;
    width: 100vw;
    max-height: 15vh;
    padding: 2% 1%;
    background-color: white;
    position: absolute;
    bottom: 0;
}
.logoo{
    width: 3px;
    height: 3px;
    padding: 0 5px;
    position: relative;
}